@use "sass:color";
@use "./variables.scss" as vars;

.product-detail {
  flex: 1;
  opacity: 0;
  transform: scale(0.98);
  pointer-events: none;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: vars.$background;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
  z-index: 0;

  &.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    position: relative;
    z-index: 1;
  }

  .product-content {
    padding: 2rem;
    h2 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      color: vars.$primary-color;
      font-weight: 600;
      transition: color 0.2s;
    }
    img {
      max-width: 120px;
      display: block;
      margin-bottom: 1rem;
      transition: filter 0.3s;
      filter: drop-shadow(0 4px 16px rgba(75, 129, 232, 0.09));
    }
    p {
      color: vars.$text;
      font-size: 1rem;
    }
    .add-cart-btn {
      margin-top: 1.2rem;
      padding: 0.6em 1.2em;
      background: color.adjust(vars.$primary-color, $lightness: 40%);
      color: vars.$primary-color;
      border: none;
      border-radius: 24px;
      font-weight: bold;
      cursor: default;
      opacity: 0.6;
    }
  }
}
